* {
    margin-top: 0;
    margin-left: 40px;
    margin-right: 40px;
}
nav {    
    background-color:aqua;
    text-align: center;
    letter-spacing: 3px;
    padding: 5px;
    word-spacing: 25px;
}


nav ul li {
    display: inline-block;
    font-size: 35px;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: black;
}
nav ul li a:hover {
    color: white;
}

.productone,
.producttwo,
.productthree, 
.productfour,
.productfive,
.productsix,
.productseven,
.producteight,
.productnine,
.productten,
.producteleven ,
.producttweleve
{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #eee;
    float: left;
    width: 23.75%;
    margin-left: 5%;
    margin-right: 4%;
}

span { 
    background-color: aqua;
    position: absolute;
    bottom: 0;
    margin-left: 40px;
    left: 120px;
    width: 84.85%;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
}

button {
    color: black;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid black;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-size: 35px;
}

button:hover {
    color: white;
    border-color: white;
}