
<<<<<<< HEAD
=======
* {
    padding: 0;
    margin: 0px
}


>>>>>>> 30b2393e71741e68b88fa727f09e8c37970fa8c3
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #2196F3;
    text-align: center;
    display: block;
}

.photo {
    padding: 25px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background-color: #063146;
    user-select: none;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 80px;
    font-size: 30px;
    color: white;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .3s;
    list-style: none;
    text-decoration: none;
}

.sidebar ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

ul li:hover a {
    padding-left: 20px;
}

.sidebar ul a i {
    margin-right: 15px;
}

.right_section {

    margin-left: 300px;
    background-image: url(../Html_projects/imgs/myphoto.png);
<<<<<<< HEAD
    background-repeat: no-repeat;
=======
>>>>>>> 30b2393e71741e68b88fa727f09e8c37970fa8c3
    background-size: cover;
    height: 100vh;
    position: relative;
}


.right_section .article {
    color: aliceblue;
<<<<<<< HEAD
    margin-top: -23px;
    margin-left: 295px;
=======
    font-size: 28px;
    position: absolute;
    top: 10%;
    left: 6%;
    width: 322px;

>>>>>>> 30b2393e71741e68b88fa727f09e8c37970fa8c3
}

#Home {
    padding-top: 5%;
}
.article {
    height: 5%;
    font-size: 35px;
    margin-right: 50%;
}