.header{
    color: blue;
    font-size: 40px;
}
#header{
    color: white;
    background-image: url(../Style_CSS/img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px 30px 150px 10px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    font-style: oblique;
    font-size: 20px;
    position: relative;
    }
    

    #header div span {
        position: absolute;
        font-size: 150px;
        top: 30px;
    }

    p {
        font-size: 25px;
        color: black;
    }

    .italic {
        font-size: 21px;
        color: green;
    }

    .head {
        color: red;
        font-size: 40px;
    }

    .head:hover{
        transform: rotate(-360deg);
        transition-duration: 1000ms;
    }

        .list {
    font-size: 25px;
    }
        .sup {
    font-size: 40px;
    color: yellow;
    }

    .accounts {
        font-style: oblique;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
    }

    .icons {
        width: 10%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .skills {
        width: 20%;
        margin-left: auto;
        margin-right: auto;
    }

    
